@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f5f5f5; /* Off-white */
  --sinntrag-red: #800000; /* Deep red accent */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sinntrag-red: var(--sinntrag-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
